main {
    padding-left: 145px;
    padding-right: 145px;
}

h1 {
    color: #2F281E;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    width: 518px;
    padding-bottom: 30px;
}

h2 {

}

p {
    color: #544837;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.text-1 {
    width: 458px;
    height: 95px; 
    flex-basis: 458px; 
    height: 95px;
}

.btn-1 {
    flex-basis: 175px; 
    height: 53px;
    border-radius: 4px;
    background: #F90;
    color: #FFF;
    font-family: font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-1 {
    display: flex;
    justify-content: space-between;
}

.text-block-1 {
        flex: 1;
        max-width: 458px;
}

.jumping-people {
    max-width: 100%;
    justify-content: flex-end;
}
